
body{
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* HERO SECTION */
#section-hero{
    background-image: url("./images/jhb-cover-image2.jpg");
    background-size: cover;
    margin: 0;
    padding: 40px 80px;
    height: 60vh;
}

#section-hero h1{
    font-size: 40px;
}
#city{
    background-color:#dcb568;
    padding: 5px 15px;
    border-radius: 5px;
}

#city-paragraph{
    background-color:#edda90;
    padding: 5px 15px;
    border-radius: 5px;
    height: auto;
    line-height: 1.5;

}


/* ACTIVITIES SECTION */

#activities-block{
    display: flexbox;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 16px 8px;
    height: 70vh;
    background-color: #F5F5DC;
}
#test{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.activity-descprition{
     width: 200px;
     font-size: small;
     height: 200px;
}

.activity-descprition img{
    width: 100px;
    border-radius: 100%;
}


/* TOUR GUIDE SECTION */

#section-guide{
    height: 70vh;
    padding: 16px 8px;  
}

#guide-card{
    align-items: center;
    display: flex;
    background-color:#edda90;
    justify-content: space-around;
    margin: auto;
    padding: 20px;
    width: 400px;
    border-bottom: 3px solid #521d09;
    height: 200px;
    border-radius: 10px;
    color: #32322e;
}

#guide-card img{
    width: 150px;
    border-radius: 10px;
}

#guide-profile{
    width: 200px;
    text-align: center;
}


